# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Rust
target/

# Tauri
brainstorm-core/app/target/
gen/

# Node + Bun
node_modules/
npm-debug.log
yarn-error.log

# Angular
brainstorm-ui/dist/
brainstorm-ui/out-tsc/
brainstorm-ui/.angular/cache/
brainstorm-ui/coverage/

# System
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/